{% include 'layouts/header.html' %}

<section class="hero-projects">
    <div class="hero-overlay red"></div>
    <div class="title-container red">
        <h1 class="text-4xl font-bold">{{project.title}}</h1>
    </div>
</section>

<main>
  <div class="project-details">
    <!-- Project About -->
    {% if project.about %}
      <div class="project-about">
        <p>{{ project.about }}</p>
      </div>
    {% endif %}

    <!-- Paragraphs -->
    <div class="prose max-w-none">
      {{ project.content | safe }}
    </div>  

  </div>
</main>
{% include 'layouts/footer.html' %}
