{% include 'layouts/header.html' %}
<!-- Hero with Title -->
<section class="hero-what">
    <div class="hero-overlay"></div>
    <div class="title-container">
        <h1>What is a CLT?</h1>
    </div>
</section>

<!-- Main Content -->
<div class="content-container">
    <section class="paragraph">
        <p>Community land trusts – or CLTs – are democratic, non profit organisations that own and develop land for the benefit of the community.</p>
        <p>They typically provide affordable homes, community gardens, civic buildings, pubs, shops, shared workspace, energy schemes and conservation landscapes.</p>
        <p><strong>Run by ordinary people.</strong> They are community organisations run by ordinary people who want to make a difference to their local community, putting control of assets into the hands of local people. They can be set up by the community or a landowner, developer or council.</p>
        <p><strong>Protecting community assets forever.</strong> They ensure that their homes are permanently and genuinely affordable. CLTs act as long-term stewards of land and the assets on it. They ensure that it is put to the benefit of the local community, not just for now but for every future occupier.</p>
        <p><strong>A world wide movement.</strong> Started in the USA, CLTs are now a worldwide movement. In both urban and rural areas, CLTs are a key part of the future of land, affordable housing and community facilities.</p>
    </section>
    
    <!-- Video Section -->
    <div class="video-container">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/7GvdjlrPtDk" allowfullscreen></iframe>
        </div>
    </div>

    <div class="cltlink">
        <a href="https://www.communitylandtrusts.org.uk/about-clts/what-is-a-community-land-trust-clt/">
            <img class="cltnet" src="/static/images/cltnet.jpg" alt="Community Land Trust">
        </a>
    </div>
</div>
</div>
{% include 'layouts/footer.html' %}
